altgraph==0.17.2
auto-py-to-exe==2.10.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
idna==3.2
keyboard==0.13.5
pefile==2021.9.3
pycparser==2.20
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyperclip==1.8.2
pywin32-ctypes==0.2.0
requests==2.26.0
urllib3==1.26.7
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
